
@{
    ViewBag.Title = "AddNews";
}
<div class="container add-block">
    <h2>AddNews</h2>
    <!-- Input title -->
    <div class="form-group">
        <label for="title">Заголовок:</label>
        <input type="text" class="form-control" id="title">
    </div>
    <!-- Input Description -->
    <div class="form-group">
        <label for="description">Інформація:</label>
        <textarea class="form-control" id="description"></textarea>
    </div>
    <!-- Input Foto files-->
    <div class="form-group">
        <label for="filecount">Фото:</label>
        <input type="file" class="form-control" id="filecount" multiple="multiple">
    </div>
    <!-- Button for send -->
    <div class="btn btn-default" onclick="AddNews()">Enter</div>
    
    <!-- Sending status in modal window (display:none) -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Modal without Overlay</h4>
                </div>
                <div class="modal-body">
                    <p>This modal has no overlay.</p>
                    <p><strong>Note:</strong> You cannot click outside of this modal to close it.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
