@model taras_shop.Models.AdminAddUnitViewModels

<div class="container">
    <div class="col-lg-4 col-md-4">
        @using (Html.BeginForm("Upload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="images">Фото:</label>
                    <input id="images" name="images" type="file" multiple class="form-control" />
                    <img id="myimage">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="title">Заголовок:</label>
                    <input id="title" name="title" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="producer">Виробник:</label>
                    <input id="producer" name="producer" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="category-type">Виберіть для кого:</label>
                <select class="form-control" name="category_type" id="category-type" onchange="changeSelect()">
                    @foreach (var i in Model.categoryTypes)
                    {
                        <option value="@i.Id">@i.Type</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="category">Select list:</label>
                <select class="form-control text-standart-input" name="category" id="category">
                    @foreach (var i in Model.categories)
                    {
                        <option value="@i.Id">@i.Category</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="price">Ціна:</label>
                    <input id="price" name="price" type="text" class="form-control text-standart-input" />
                </div>
            </div>

            <div class="form-group">
                <label for="size-xs">Розмір: XS</label>
                <input value="true" id="size-xs" type="checkbox" class="form-control text-standart-input" />
                <label for="count-xs">Кількість:</label>
                <input id="count-xs" name="amount_xs" type="number" class="form-control text-standart-input" />
            </div>
            <div class="form-group">
                <label for="size-s">Розмір: S</label>
                <input value="true" id="size-s" type="checkbox" class="form-control text-standart-input" />
                <label for="count-s">Кількість:</label>
                <input id="count-s" name="amount_s" type="number" class="form-control text-standart-input" />
            </div>
            <div class="form-group">
                <label for="size-m">Розмір: M</label>
                <input value="true" id="size-m" type="checkbox" class="form-control text-standart-input" />
                <label for="count-m">Кількість:</label>
                <input id="count-m" name="amount_m" type="number" class="form-control text-standart-input" />
            </div>
            <div class="form-group">
                <label for="size-l">Розмір: L</label>
                <input value="true" id="size-l" type="checkbox" class="form-control text-standart-input" />
                <label for="count-l">Кількість:</label>
                <input id="count-l" name="amount_l" type="number" class="form-control text-standart-input" />
            </div>
            <div class="form-group">
                <label for="size-xl">Розмір: XL</label>
                <input value="true" id="size-xl" type="checkbox" class="form-control text-standart-input" />
                <label for="count-xl">Кількість:</label>
                <input id="count-xl" name="amount_xl" type="number" class="form-control text-standart-input" />
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="material">Матеріал:</label>
                    <input id="material" name="material" type="text" class="form-control text-standart-input" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="description">Опис:</label>
                    <textarea class="form-control text-standart-input" name="description" rows="5" id="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" id="create" class="btn btn-default" />
                </div>
            </div>

        }

    </div>

</div>

