/* Css Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: Calibri;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body a
{
    color: #000;
}

body a:hover
{
    color: #000;
    text-decoration: none;
}

body h1, body h2, body h3, body h4, body h5, body h6,
body p, body span
{
    font-family: Calibri;
}

/* Fonts */

@font-face {
    font-family: Calibri;
    src: url(../../fonts/Calibri.ttf);
}

@font-face {
    font-family: BebasNeueBold;
    src: url(../../fonts/bebas_neue/BebasNeueBold.otf);
}

/* Fonts end*/

/* Media queries */

@media screen and (min-width: 1200px)
{
    .her-img
    {
        margin: 0 auto;
    }

    .he-img
    {
        margin: 0 auto;
    }

    .main .news
    {
        margin-right: 0px;
    }
}

@media screen and (max-width: 994px)
{
    #basket-modal .left-basket,
    body #basket-modal .right-basket
    {
        margin-left: 0px;
        margin-right: 0px;
    }

    #basket-modal .text-basket-preview-right 
    {
        margin-top: 30px;
    }

    #basket-modal .left-basket img 
    {
        float: none;
        margin-bottom: 10px;
    }

    #basket-modal .text-basket-preview 
    {
       text-align: center;
       float: none;
       margin-left: 0px;
    }

    #basket-modal .text-basket-preview h4 
    {
        width: 100%;
        text-align: center;
    }

    #basket-modal .text-basket-preview span:nth-child(4) 
    {
        margin-bottom: 20px;
    }

    .main .quick-view
    {
        width: calc(100% - 36px);
    }

    aside.sidebar-nav 
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    #mobile-sidebar > #accordion > h4
    {
        font-size: 30px;
    }

    #mobile-sidebar > #accordion > h4 + div > ul
    {
        width: 100%;
        margin: 0px;
    }

    #mobile-sidebar > #accordion > h4 + div > ul > li
    {
        font-size: 22px;
    }

    .filters p,
    .filters #amount
    {
        text-align: center;
    }

    #mobile-sidebar #slider 
    {
        margin: 0 auto;
        width: 80%;
    }

    .price-h,
    .size-h
    {
        padding: 30px 0px 16px 20px;
        font-size: 30px;
    }

    #mobile-sidebar .filters
    {
        border: none;
    }

    #mobile-sidebar .size-h
    {
        padding-botom: 15px;
    }

    #mobile-sidebar .radio-list
    {
        padding: 20px;
    }

}

@media screen and (min-width: 992px)
{
    .row .main .img-unit-div
    {
        background-size: cover;
    }
}

@media screen and (max-width: 767px)
{
    .her .her-img,
    .he .he-img
    {
        margin: auto;
    }

    #registration-modal .radio-list .woman-li,
    #registration-modal .radio-list .man-li,
    #item-preview-modal .radio-list li
    {
        float: none;
        margin: 0 auto;
    }

    .main .img-unit-div,
    .main .text-unit-part,
    .unit
    {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .main .quick-view 
    {
        width: 100%;
    }

    .main .img-unit-div
    {
        background-size: cover;
    }

    .row .main .unit .img-unit-div .sale-img
    {
        padding-left: 0px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .row .main .unit
    {
        height: inherit;
        min-height: 450px;
    }

    .row .main .title-lines
    {
        margin-bottom: 50px
    }

    .row .main .title-lines div
    {
        width: 100%;
        float: none;
    }

    .row .main .title-lines-h
    {
        display: block;
        bottom: 0px;
        margin-top: 15px;
    }

    .container .row .last-footer span
    {
        float: none;
        display: block;
        text-align: center;
    }

    .contacts
    {
        text-align: center;
    }

    button.frequent-button
    {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px)
{
    .navbar .navbar-collapse.in li,
    .navbar .navbar-collapse.collapsing li 
    {
        display: block;
    }

    .navbar .navbar-collapse.in .navbar-right li,
    .navbar .navbar-collapse.collapsing .navbar-right li 
    {
        display: inline-block;
    }

    .navbar-collapse .nav-left
    {
        padding: 0px;
    }
}

/* Media queries end */

/* Header section */

.header .navbar-header button.navbar-toggle
{
    border: none;
    padding: 10px 9px;
    outline: none;
    background-color: #4B4B4B;
}

.header .navbar-header button.navbar-toggle.collapsed 
{
    background-color: #fff;
}

.header nav.navbar .navbar-header .navbar-toggle .icon-bar
{
    width: 30px;
    height: 3px;
    background-color: #fff;
}

.header nav.navbar .navbar-header .navbar-toggle.collapsed .icon-bar 
{
    background-color: #4B4B4B;
}

.sign-in img,
.basket img,
.search img
{
    display: block;
    margin: 0px auto;
}

.logo
{
    padding: 15px 0px;
}

.nav-left
{
    padding: 14px;
    font-size: 18px;
    text-align: center;
}

.navbar-collapse.in li,
.navbar-collapse.collapsing li
{
    text-align: center;
    display: inline-block;
}

.header .navbar .container .navbar-collapse
{
    max-height: none;
}

.header .navbar-default
{
    box-shadow: none;
    border: none;
    background-color: #fff;
    background-image: none;
    margin-bottom: 0;
    font-family: Calibri;
}

.header .navbar-default .navbar-nav>li>a {
    color: #000;
}

.header .navbar-default .navbar-nav>li>a:hover {
    color: #000;
}

.header .navbar-default .navbar-nav>li>a:link {
    color: #000;
    outline: none;
}

.navbar-right > li > a > span
{
    font-size: 15px;
}

.header .navbar-header button.navbar-toggle
{
    margin: 22px;
}

.navbar-right
{
    text-align: center;
}

/* Header section end

/* Main modal styles */

#registration-modal,
#basket-modal,
#item-preview-modal
{
    margin: 0 auto;
}

#registration-modal .modal-content,
#basket-modal .modal-content,
#item-preview-modal .modal-content
{
    border-radius: 0;
    background-color: #fff;
    font-family: Calibri;
}

#registration-modal .close span:focus,
#basket-modal .close span:focus,
#item-preview-modal .close span:focus
{
    outline: none;
}

#registration-modal .modal-header,
#basket-modal .modal-header,
#item-preview-modal .modal-header
{
    border: none;
}

#registration-modal .modal-footer,
#basket-modal .modal-footer,
#item-preview-modal .modal-footer
{
    border: none;
}

#registration-modal .modal-dialog,
#basket-modal .modal-dialog,
#item-preview-modal .modal-dialog
{
    width: 100%;
}

.frequent-button
{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    font-family: BebasNeueBold;
    font-size: 23px;
    background-color: #000;
    transition: all .3s ease;
}

.frequent-button:hover
{
    background-color: #c22529;
    border: none;
    color: #fff;
}

.frequent-button.submit-log
{
    border: 3px solid #fff;
}

body .modal-content .modal-body .frequent-button:hover
{
    background-color: #c22529;
    border: none;
    color: #fff;
}
/* Main modal styles end */

/* Registration modal */

#registration-modal .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

#registration-modal .nav-tabs
{
    border: none;
}

#registration-modal .nav-tabs,
#registration-modal .nav-pills {
    text-align:center;
}

#registration-modal .modal-content
{
    background-color: #000;
}

#registration-modal .close
{
    opacity: 1;
    color: #fff;
}

#registration-modal label
{
    display: block;
    text-align: left;
    color: #fff;
    font-size: 17px;
}

#registration-modal input[type="text"],
#registration-modal input[type="email"],
#registration-modal input[type="password"]
{
    width: calc(100% - 10px);
    height: 50px;
    border: none;
    background-color: #ebebeb;
    outline: none;
    box-sizing: content-box;
    padding-left: 10px;
}

.modal-content .modal-body
{
    padding-top: 0px;
    text-align: center;
}

.login-block
{
    margin-top: 25px;
}

.forgot-pass
{
    display: block;
    color: #fff;
    font-size: 17px;
    margin-top: 1em;
    transition: all .3s ease;
}

.forgot-pass:hover
{
    color: #c22529;
}

.forgot-pass:focus
{
    color: #fff;
}

.forgot-pass:hover
{
    text-decoration: none;
    color: #c22529;
}

.forgot-pass:focus
{
    text-decoration: none;
    color: #000;
}

#registration-modal a[href="#sign-in-tab"],
#registration-modal a[href="#reg-tab"]
{
    font-family: BebasNeueBold;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border: none;
    border-bottom: 2px solid #000;
}

#registration-modal a[href="#sign-in-tab"]:hover,
#registration-modal a[href="#reg-tab"]:hover
{
    border-bottom: 2px solid #fff;
}

#registration-modal .nav-tabs li.active a
{
    border-bottom: 2px solid #fff;
}

#registration-modal .man-li,
#registration-modal .woman-li
{
    width: 160px;
    right: 0px;
    bottom: 0px;
    height: 70px;
    margin-bottom: 20px;
}

#registration-modal .woman-li
{
    float: right;
}

#registration-modal .radio-list li .check
{
    border: 2px solid #fff;
    top: 50%;
    transform: translateY(-50%);
}

#registration-modal .radio-list li:hover .check
{
    border: 2px solid #fff;
}

#registration-modal [for=woman-option],
#registration-modal label[for=man-option]
{
    padding: 10px 5px 10px 45px;
    margin: 13px;
    height: 40px;
    float: right;
}

.submit-reg
{
    background-color: #fff;
    color: #000;
}

.line
{
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.facebook-reg
{
    background-color: #5972a8;
}
/* Registration modal end */

/* Basket modal */

#basket-modal
{
    font-family: Calibri;
}

#basket-modal .modal-header
{
    border: none;
    padding: 10px;
    background-color: #EBEBEB;
    height: 65px;
}

.basket-header
{
    float: left;
    margin: 0px;
    padding: 9px;
    font-family: BebasNeueBold;
    font-size: 30px;
    font-weight: 600;
}

#basket-modal .modal-body
{
    margin-top: 30px;
}

.left-basket
{
    margin-left: 5%;
}

.left-basket img
{
    float: left;
    margin-bottom: 80px;
}

.text-basket-preview
{
    text-align: left;
    float: left;
    margin-left: 5%;
}

.text-basket-preview h4
{
    color: #c22529;
    font-weight: 600;
}

.text-basket-preview span
{
    display: block;
    color: #a1a0a0;
    margin-top: 5px;
}

.text-basket-preview span:nth-child(4)
{
    color: #000;
}

.text-basket-preview h4 
{
    color: #cb5456;
    margin-top: 0px;
    width: 107px;
    text-align: justify;
}

#basket-modal .right-basket
{
    float: right;
    margin-right: 5%;
    text-align: left;
    line-height: 2;
}

#basket-modal .text-basket-preview-right
{
    margin-bottom: 161px;
}

.text-basket-preview-right h4
{
    margin: 0px;
    font-weight: 600;
}

.basket-sum
{
    display: inline-block;
    padding: 7px 0px;
}

.text-basket-preview-right a
{
    color: rgb(161, 160, 160);
    font-size: 15px;
}

.text-basket-preview-right span
{
    font-size: 15px;
}

.main-price
{
    font-weight: 600;
}

.basket-preview-prices
{
    float: right;
}
/* Basket modal end */

/* Item-preview modal */

#carousel-custom,
#item-carousel-custom
{
    padding: 0px;
}

#carousel-custom .carousel-inner,
#item-carousel-custom .carousel-inner
{
    position: relative;
    width: 75%;
    height: 500px;
    float: right;
    overflow: hidden;
}

#carousel-custom .carousel-inner > .item > img,
#item-carousel-custom .carousel-inner > .item > img
{
    height: 490px;
}

#carousel-custom .carousel-indicators,
#item-carousel-custom .carousel-indicators {
    position: static;
    float: left;
    height: 500px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 20%;
}

#carousel-custom .carousel-indicators li,
#item-carousel-custom .carousel-indicators li {
    display: block;
    margin: 0px;
    height: 25%;
    width: 100%;
    border: none;
}

#carousel-custom .carousel-indicators li img,
#item-carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

#carousel-custom .carousel-indicators li.active img,
#item-carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}

#carousel-custom .carousel-indicators li:hover img,
#item-carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}

.carousel-indicators li img {
    height: 115px;
    max-width: 100%;
}

.details-modal-part button:last-child
{
    margin-top: 10px;
}

.details-modal-part button:last-child
{
    background-color: #ebebeb;
    color: #000;
}

.details-modal-part .line
{
    border-color: #bfbfbf;
    width: 100%;
    margin: 20px 0px;
}

#item-preview-modal .text-details-part

{
    padding: 0px;
}

#size-toggle
{
    margin-bottom: 30px;
    float: left;
    cursor: pointer;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
    user-select: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.append-radio
{
    display: none;
}

.radio-show
{
    display: block;
    animation: fadeIn .4s;
}

#item-preview-modal .radio-list li .check,
#item-page-block .radio-list li .check
{
    border: 2px solid #000;
    width: 15px;
    height: 15px;
    top: 12px;
    left: 20px;
}

#item-preview-modal .radio-list li .check::before,
#item-page-block .radio-list li .check::before
{
    top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
}

#item-preview-modal .radio-list li:hover .check,
#item-page-block .radio-list li:hover .check
{
    border: 2px solid #000;
}

#item-preview-modal .radio-list label,
#item-page-block .radio-list label
{
    font-size: 15px;
    float: left;
    padding-left: 40px;
    padding-top: 0px;
    margin: 10px auto;
}
/* Item-preview modal end */

/* Sidebar section */

/* Sidebar-wrapper block */

#mobile-sidebar > h3.ui-accordion-header
{
    margin: 0;
    padding: 10px;
    border-radius: 0px;
    border-color: #EDEDED;
    cursor: pointer;
    user-select: none;
}

#mobile-sidebar h3.ui-state-active{
    border: 1px solid #EDEDED;
    background: #EDEDED;
    color: #000;
}

/* Sidebar-wrapper block end */

#sidebar
{
    color: #000;
    font-family: Calibri;
}

#sidebar > h3,
#mobile-sidebar > h3
{
    font-size: 21px;
    margin-bottom: 14px;
}

#accordion h4
{
    color: #000;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    background-color: #fff;
    border: none;
    line-height: 0.8;
    width: 100%;
    border-bottom: 2px solid #000;
    border-radius: 0px;
    margin: 0px;
    padding: 10px 10px 10px 0px;
}

#accordion h4:focus,
#mobile-sidebar > h3:focus
{
    outline: none;
}

#accordion ul
{
    color: #000;
    list-style: none;
    padding-left: 0px;
    margin-left: 7px;
    width: 135px;
    padding-top: 5px;
}

#accordion ul li
{
    font-size: 15px;
    margin-left: 15px;
    line-height: 1.7;
    user-select: none;
    cursor: pointer;
}

#accordion div
{
    border: none;
}

.filters-h
{
    margin-top: 20px;
}

.price-h,
.size-h
{
    font-size: 18px;
    text-transform: uppercase;
}

.price-h
{
    padding: 30px 0px 16px 8px;
}

.size-h
{
    padding: 40px 0px 25px 8px;
}

#slider .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0px solid #c5c5c5;
    background: #000;
    font-weight: normal;
    color: #454545;
    width: 5px;
    outline: none;
}

#slider .ui-slider-handle {
    top: -.55em;
    margin-left: -3px;
    border-radius: 0;
}

#slider
{
    border: 1px solid #000;
    height: 2px;
    width: 195px;
}

#slider > div{
    background-color: rgb(0, 0, 0);
}

#amount
{
    border: none;
    color: #000;
    font-weight: bold;
    font-size: 20px
}

#sidebar .radio-list
{
    min-height: 200px;
}

.radio-list li
{
    color: #000;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 25px;
    right: 20px;
    bottom: 30px;
}

.radio-list li input[type=checkbox],
.radio-list li input[type=radio]
{
    position: absolute;
    visibility: hidden;
}

.radio-list li label{
    display: block;
    position: relative;
    font-weight: 600;
    font-size: 21px;
    text-transform: uppercase;
    padding: 0px 25px 25px 45px;
    margin: 10px auto;
    height: 0px;
    z-index: 9;
    cursor: pointer;
    user-select: none;
    -webkit-transition: all 0.25s linear;
}

.radio-list li .check{
    display: block;
    position: absolute;
    border: 2px solid #000;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 14px;
    left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}


.radio-list li:hover .check {
    border: 2px solid #000;
}

.radio-list li .check::before {
    display: block;
    position: absolute;
	content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 2px;
    left: 2px;
    margin: auto;
	transition: background 0.25s ease-in;
	-webkit-transition: background 0.25s ease-in;
}

input[type=checkbox]:checked ~ .check,
input[type=radio]:checked ~ .check
{
    border: 2px solid #000;
}

input[type=checkbox]:checked ~ .check::before,
input[type=radio]:checked ~ .check::before
{
    background: #000;
}

input[type=checkbox]:checked ~ label,
input[type=radio]:checked ~ label
{
    color: #000;
}

#registration-modal input[type=radio]:checked ~ .check {
    border: 2px solid #fff;
}

#registration-modal input[type=radio]:checked ~ .check::before{
    background: #fff;
}

#registration-modal input[type=radio]:checked ~ label{
    color: #fff;
}
/* Sidebar section end */

/* Main section */

/* News and them blocks */

.main
{
    margin-top: 30px;
    font-family: Calibri;
}

.main .he,
.main .her
{
    padding-right: 0px;
    padding-left: 0px;
    transition: opacity .15s ease-in;
}

.he-img,
.her-img
{
    height: 430px;
    width: 320px;
}

.her-img
{
    background-image: url("../images/her.jpg");
}

.he-img
{
    background-image: url("../images/he.jpg");
}

.her-text,
.he-text
{
    text-align: center;
    background-color: #fff;
    position: relative;
    top: 355px;
    color: #000;
}

.her-text h3,
.he-text h3
{
    padding-top: 10px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.her-text h5,
.he-text h5
{
    font-size: 17px;
    padding-bottom: 20px;
    color: #a3a2a2;
    margin-top: 3px;
}

.main .news
{
    background-image: url("../images/news.jpg");
    height: 280px;
    margin-right: -6px;
    cursor: pointer;
    transition: opacity .15s ease-in;
}

.main .he:hover,
.main .her:hover,
.main .news:hover
{
    opacity: .7;
}

.text-news
{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news h1,
.news h3
{
    color: #fff;
    text-align: center;
}

.news h1
{
    margin-bottom: 0px;
    font-size: 50px;
}

.news h3
{
    margin-top: 0px;
    font-size: 30px;
}

/* News and them blocks end */

/* Sort block */

.main .search-img
{
    height: 170px;
    float: right;
    background-image: url("../images/news.jpg");
}

.main .found-units
{
    float: right;
    text-align: center;
}

.main .find-filters
{
    padding-left: 0px;
    padding-right: 0px;
}

.main .find-filters .form-group
{
    padding: 15px 10px;
}

.main .find-filters .form-group:first-child
{
    padding-left: 0px;
}

#dropdowns button
{
    border-radius: 0px;
    background-color: #ebebeb;
    width: 185px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}

#dropdowns
{
    float: left;
    padding: 20px 0px;
}

#dropdowns div
{
    display: inline-block;
}

#dropdowns:focus
{
    border: none;
    outline: none;
}

#dropdowns label
{
    color: #606060;
    font-size: 15px;
    font-weight: 500;
}

#dropdowns .btn:active
{
    -webkit-box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,.125);
    box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,.125);
}

#dropdowns .btn:focus
{
    -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,.125);
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,.125);
}

#dropdowns .dropdown-menu
{
    width: 185px;
    left: 97px;
    top: 34px;
    border-radius: 0px;
    border: none;
    background-color: #ebebeb;
    box-shadow: none;
    padding-top: 0px;
}

#dropdowns:active
{
    border: none;
    outline: none;
}

#dropdowns .dropdown-menu li a:hover
{
    background-color: #ccc;
    background-image: none;
}

#dropdowns .dropdown-menu li a
{
    padding: 7px 13px;
    padding-right: 33px;
    font-size: 16px;
    font-weight: 500;
}

#dropdowns .btn.active.focus, #dropdowns .btn.active:focus,
#dropdowns .btn.focus, #dropdowns .btn:active.focus,
#dropdowns .btn:active:focus, #dropdowns .btn:focus {
    outline: none;
}

.caret
{
    float: right;
    margin-top: 8px;
}

#view-dropdown label
{
    margin-left: 10px;
}

#view-dropdown button
{
    width: 64px;
}

#view-dropdown .dropdown-menu
{
    left: 82px;
    min-width: 0px;
    width: 64px;
}

.how-many
{
    font-size: 12px;
    color: #a5a5a5;
}

.pagination-block
{
    float: right;
    position: relative;
    top: 10px;
}

.pagination-block .material-icons
{
    font-size: 34px;
}

.pagination-block input
{
    width: 32px;
    height: 32px;
    padding-left: 10px;
}

.left-pg,
.right-pg
{
    display: inline-block;
    background-color: #e1e1e1;
    width: 34px;
    height: 34px;
    position: relative;
    top: 11px;
    cursor: pointer;
    user-select: none;
}

.find-filters-bottom
{
    padding-top: 40px;
}
/* Sort block end*/

/* Unit block */

.main .popular-units,
.main .recommend-units,
.main .about
{
    float: right;
    text-align: center;
    margin-top: 45px;
    color: #000;
}

.main .title-lines .left-line,
.main .title-lines .right-line
{
    border-top: 1px solid;
    display: inline-block;
    width: 35%;
}

.main .title-lines .left-line
{
    float: left;
    padding-right: 0px;
    padding-left: 0px;
}

.main .title-lines .right-line
{
    float: right;
}

.title-lines-h
{
    display: inline-block;
    position: relative;
    bottom: 20px;
}

.main .unit
{
    cursor: pointer;
    height: 450px;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #fff;
}

.main .unit:hover
{
    border: 1px solid #b8b8b8;
}

.main .img-unit-div
{
    height: 240px;
    margin-top: 25px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../../Content/images/woman.png);
}

.main .img-unit-div .sale-img
{
    float: left;
    padding-left: 2%;
}

.quick-view
{
    position: absolute;
    visibility: hidden;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .1s ease-in;
    background-color: #b6b6b6;
}

.main .quick-view img
{
    padding: 10px;
    float: none;
}

.main .img-unit-div:hover .quick-view
{
    visibility: visible;
}

.main .img-unit-div:hover .quick-view:active
{
    background-color: #999999;
}

.main .text-unit-part
{
    border-top: 1px solid #b8b8b8;
    margin-top: 30px;
    padding-top: 10px;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    text-overflow: ellipsis;
}

.company-maker
{
    font-size: 17px;
    margin-bottom: 0px;
    font-weight: bold;
}

.item-type
{
    font-size: 16px;
    color: #7d7d7d;
    margin-bottom: 5px;
}

.price-now
{
    font-size: 21px;
    color: #c32f3d;
}

.price-was
{
    font-size: 17px;
    text-decoration: line-through;
    margin-left: 10px;
}

/* Unit block end */

/* Recommend block */

.main .recommend-row .unit
{
    background-position: 50%;
    height: 280px;
    background-repeat: no-repeat;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
    margin-bottom: 30px;
}

.main .recommend-row .unit:nth-child(1)
{
    float: left;
}

.main .recommend-row .unit:nth-child(3)
{
    float: right;
}

.main .recommend-row .unit:nth-child(2)
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main .recommend-row .unit
{
    background-image: url("../images/small-womant.jpg");
}

.recommend-row .unit img
{
    float: left;
    margin: 15px 0px 0px 25px;
}

.recommend-row .unit img
{
    float: left;
    margin: 15px 0px 0px 45px;
}

.recommend-row .text-unit-part
{
    position: absolute;
    width: 225px;
    top: 190px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recommend-row .company-maker
{
    font-size: 14px;
}

.recommend-row .item-type
{
    font-size: 12px
}

.recommend-row .price-now
{
    font-size: 16px;
    color: #c32f3d;
}

.recommend-row .price-was
{
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 10px;
}

/* Recommend block end */

/* About block */

.about-text-block
{
    text-align: left;
}

.about-text-block p
{
    margin-bottom: 30px;
}

/* Info block end */

/* Main section end */

/* ItemPage block */

#item-page-block
{
    padding: 0px 15px;
}

#item-page-block .text-details-part
{
    padding: 0px;
}

.routing-h
{
    padding: 30px 0px;
    border-top: 1px solid #ccc;
    color: #c7c7c7;
    text-transform: uppercase;
    cursor: pointer
}

.routing-h a
{
    color: #c7c7c7;
    padding: 0px 15px;
}

.routing-h a:hover
{
    color: #c7c7c7;
}

#item-carousel-custom
{
    margin-bottom: 110px;
}

#item-accordion h4
{
    color: #000;
    font-family: BebasNeueBold;
    cursor: pointer;
    font-size: 23px;
    padding: 15px 0px 3px 0px;
    user-select: none;
    background-color: #fff;
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
    line-height: 0.8;
}

#item-accordion .ui-accordion-header-icon
{
    display: none;
}

#item-accordion h4 > span
{
    font-size: 40px;
    float: left;
    position: relative;
    bottom: 10px;
    margin-right: 5px;
}

#item-accordion h4:focus
{
    outline: none;
}

#item-accordion div
{
    border: none;
    margin-left: 21px;
}

.consist,
.item-code
{
    color: #999898;
}

.watch-also h4
{
    font-family: BebasNeueBold;
}

#item-page-block .watch-also-item
{
    padding-left: 0px;
    padding-bottom: 10px;
}

#item-page-block .watch-also-item span,
#item-page-block .watch-also-item p
{
    font-size: 16px;
    text-align: center;
}

#item-page-block .watch-also-item span:last-child
{
    margin: 0px;
    font-size: 14px;
}

.watch-also-item img
{
    width: 100%;
    height: auto;
    cursor: pointer;
    opacity: .7;
}

.watch-also-item img:hover
{
    opacity: 1;
}

.watch-also-item .price-unit-part,
.last-view .price-unit-part
{
    text-align: center;
}

.last-view
{
    margin-bottom: 50px;
}

/* ItemPage block end */

/* Footer section */

footer .subscribe
{
    background-color: #c22529;
    height: 70px;
}

.input-block
{
    float: left;
}

#footer-input
{
    height: 40px;
    display: inline-block;
    width: calc(100% - 130px);
    border-radius: 0px;
}

#footer-input:focus
{
    outline: none;
    box-shadow: none;
}

.form-group .footer-btn,
#footer-input
{
    border-radius: 0px;
    border: none;
    float: left;
}

.form-group .footer-btn
{
    height: 40px;
    width: 125px;
    background-color: #000;
    color: #fff;
}

.form-group .footer-btn:focus
{
    outline: none;
    color: #fff;
    border: none;
}

.social-block
{
    text-align: center;
}

.social-block a div
{
    display: inline-block;
    font-size: 70px;
    margin: 30px;
    padding: 20px;
    border: 1px solid #c22529;
    color: #c22529;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.icon-facebook:hover
{
    background-color: #4867AA;
    color: #fff;
    border: 1px solid #4867AA;
}

.icon-vkontakte:hover
{
    background-color: #507299;
    color: #fff;
    border: 1px solid #507299;
}

.icon-youtube:hover
{
    background-color: #E62117;
    color: #fff;
    border: 1px solid #E62117;
}

.icon-instagram:hover
{
    color: #fff;
    border: 1px solid #d9317a;
    background-color: #d9317a;
}

.contacts
{
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.contacts div
{
    display: inline-block;
    text-align: center;
}

.num-block
{
    padding: 51px;
}

.email-block
{
    padding: 60px;
}

.num-block .number,
.num-block span
{
    display: inline-block;
}

.num-block span,
.email-block span:first-child
{
    font-size: 40px;
}

.num-block .number,
.email-block span:nth-child(2)
{
    font-size: 20px;
    position: relative;
}

.email-block span:nth-child(2)
{
    bottom: 13px;
}

.num-block .number
{
    width: 170px;
    top: 2px;
}

.row .last-footer
{
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
}

.last-footer span:first-child
{
    float: left;
}

.last-footer span:nth-child(2)
{
    float: right;
}

.last-footer span
{
    padding: 15px 0px;
}

/* Footer section end */