/* Header section */
.sign-in
{
    width: 69px;
}

.sign-in img
{
    margin: 0 auto;
    display: block;
}

.basket
{
    width: 83px;
}

.basket img
{
    margin: 0 auto;
    display: block;
}

.search
{
    width: 73px;
}

.search img
{
    margin: 0 auto;
    display: block;
}

.logo
{
    padding: 15px 0px;
}

.nav-left
{
    padding: 14px;
    font-size: 20px;
}

.header .navbar-default
{
    box-shadow: none;
    border: none;
    background-color: #fff;
    background-image: none;
    margin-bottom: 0;
}

.header .navbar-default .navbar-nav>li>a {
    color: #000;
}

.header .navbar-default .navbar-nav>li>a:hover {
    color: #000;
}

.header .navbar-default .navbar-nav>li>a:link {
    color: #000;
}

#accordion
{
    padding-left: 10px;
}

#accordion h4
{
    color: #000;
    cursor: pointer;
    font-size: 20px;
    background-color: #fff;
    border: none;
}

#accordion h4:focus
{
    outline: none;
}

#accordion ul
{
    color: #000;
    list-style: none;
    padding-left: 0px;
    margin-left: 30px;
    width: 140px;
    border-top: 1px solid rgb(0, 0, 0);
    padding-top: 5px;
}

#accordion ul li
{
    font-size: 16px;
}

#accordion div
{
    border: none;
}

.filters-h
{
    margin-top: 60px;
}

.price-h
{
    font-size: 20px;
    padding: 10px 0px 16px 16px;
}

.size-h
{
    font-size: 20px;
    padding: 20px 0px 5px 16px;
}

.filters
{
    padding-left: 10px;
}

#slider .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0px solid #c5c5c5;
    background: #000;
    font-weight: normal;
    color: #454545;
    width: 5px;
    outline: none;
}

#slider .ui-slider-handle {
    top: -.55em;
    margin-left: -3px;
    border-radius: 0;
}

#slider
{
    border: 1px solid #000;
    height: 2px;
    width: 170px;
}

#slider > div{
    background-color: rgb(0, 0, 0);
}

.radio-list
{
    list-style: none;
    padding: 0px;
    width: 55px;
}

.radio-list input
{
    width: 20px;
    height: 20px;
}

.radio-list label
{
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    bottom: 4px;
    font-size: 20px;
}