@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @*using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()*@

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="" class="sign-in" data-toggle="modal" data-target="#registration-modal">
                    <img src="~/Content/images/register.jpg" alt="sign">
                    <span>Выйти</span>
                </a>
            </li>
        </ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="" class="sign-in" data-toggle="modal" data-target="#registration-modal">
                <img src="~/Content/images/register.jpg" alt="sign">
                <span>Ввійти</span>
            </a>
        </li>
        <li>
            <a href="Home/ShoppingCart" class="basket">
                <img src="~/Content/images/basket.jpg" alt="basket">
                <span>Корзина</span>
            </a>
        </li>
        <li>
            <input placeholder="Поиск товаров по каталогу" class="search-input" />
            <a href="#" class="search">
                <img src="~/Content/images/search.jpg" alt="search">
                <span>Пошук</span>
            </a>
        </li>
    </ul>
}
