<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@*@ViewBag.Title*@ - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/css/main.css" />
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/css/fontello.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <section class="header">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Home">
                        <img src="~/Content/images/lorem.jpg" alt="Logo" class="logo">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav nav-left">
                        <li><a href="/Home">Головна</a></li>
                        <li><a href="#">Вона</a></li>
                        <li><a href="#">Він</a></li>
                        <li><a href="#">Діти</a></li>
                        <li><a href="#">Новинки</a></li>
                        <li><a href="#">SALE</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="" class="sign-in" data-toggle="modal" data-target="#registration-modal">
                                <img src="~/Content/images/register.jpg" alt="sign">
                                <span>Ввійти</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="basket">
                                <img src="~/Content/images/basket.jpg" alt="basket">
                                <span>Корзина</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="search">
                                <img src="~/Content/images/search.jpg" alt="search">
                                <span>Пошук</span>
                            </a>
                        </li>
                    </ul>
                </div>
                </div>
        </nav>
    </section>

    <div class="body-content">

        @RenderBody()

        <!--Registration & Login modal-->
        <div class="modal fade" id="registration-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
                                </div>
                                <div class="modal-body">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#sign-in-tab">Войти</a></li>
                                        <li><a data-toggle="tab" href="#reg-tab">Регистрация</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="sign-in-tab" class="tab-pane fade in active">
                                            <form class="col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-3 login-block" action="">
                                                <div class="form-group">
                                                    <label for="login-email-input" class="login-email-label">E-Mail:</label>
                                                    <input type="email" class="login-email-input">
                                                </div>
                                                <div class="form-group">
                                                    <label for="pass-email-input" class="pass-email-label">Пароль:</label>
                                                    <input type="password" class="pass-email-input">
                                                </div>
                                                <button type="submit" class="frequent-button submit-log">Войти</button>
                                                <a href="#" class="forgot-pass">Забыли пароль?</a>
                                            </form>
                                        </div>
                                        <div id="reg-tab" class="tab-pane fade">
                                            <form class="col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-3 login-block" action="">
                                                <div class="form-group">
                                                    <label for="reg-name-input">Имя:</label>
                                                    <input type="text" class="reg-name-input">
                                                </div>
                                                <div class="form-group">
                                                    <label for="reg-surname-input">Фамилия:</label>
                                                    <input type="text" class="reg-surname-input">
                                                </div>
                                                <div class="form-group">
                                                    <label for="login-email-input">E-Mail:</label>
                                                    <input type="email" class="login-email-input">
                                                </div>
                                                <div class="form-group">
                                                    <label for="reg-pass-input">Пароль:</label>
                                                    <input type="password" class="reg-pass-input">
                                                </div>
                                                <div class="form-group">
                                                    <label for="reg-phone-input">Телефон:</label>
                                                    <input type="text" class="reg-phone-input">
                                                </div>
                                                <ul class="radio-list">
                                                    <li class="man-li">
                                                        <input type="radio" id="man-option" name="selector">
                                                        <label for="man-option">Мужчина</label>
                                                        <div class="check"></div>
                                                    </li>

                                                    <li class="woman-li">
                                                        <input type="radio" id="woman-option" name="selector">
                                                        <label for="woman-option">Женщина</label>
                                                        <div class="check"><div class="inside"></div></div>
                                                    </li>
                                               </ul>
                                                <button type="submit" class="frequent-button submit-reg">Создать аккаунт</button>
                                                <div class="line"></div>
                                                <button type="submit" class="frequent-button facebook-reg">Регистрация с помощью Facebook</button>
                                                <a href="#" class="forgot-pass">Забыли пароль?</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Basket modal-->
        <div class="modal fade" id="basket-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="basket-header">Товар добавлен в корзину!</h3>
                                    <div type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
                                </div>
                                <div class="modal-body">
                                    <div class="col-md-5 col-sm-12 col-xs-12 left-basket">
                                        <img src="~/Content/images/item-preview.png" />
                                        <div class="text-basket-preview">
                                            <h4>Anabel Arto</h4>
                                            <span>Цвет: бежевый</span>
                                            <span>Размер:</span>
                                            <span>S</span>
                                        </div>
                                        <button class="frequent-button submit-log">Продолжить покупки</button>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12 right-basket">
                                        <div class="text-basket-preview-right">
                                            <h4>Ваша Корзина(1)</h4>
                                            <a href="#">Просмотреть выбраные товары</a>
                                            <div class="overall-cost">
                                                <span>Общая стоимость товаров: </span>
                                                <span class="basket-preview-prices">234.85 грн</span>
                                            </div>
                                            <div class="delivery-cost">
                                                <span>Доставка: </span>
                                                <span class="basket-preview-prices">30.00 грн</span>
                                            </div>
                                            <div class="main-prices">
                                                <h4 class="basket-sum">Сумма: </h4>
                                                <span class="basket-preview-prices">264.85 грн</span>
                                            </div>
                                        </div>
                                        <button class="frequent-button facebook-reg">Оформить заказ</button>
                                    </div>
                                </div>
                                <div class="modal-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Item-preview modal-->
        <div class="modal fade" id="item-preview-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
                                </div>
                                <div class="modal-body">
                                    <div id='carousel-custom' class='col-md-8 carousel slide' data-ride='carousel'>
                                        <div class='carousel-outer'>
                                            <!-- thumb -->
                                            <ol class='carousel-indicators mCustomScrollbar meartlab'>
                                                <li data-target='#carousel-custom' data-slide-to='0' class='active'><img src='http://images.asos-media.com/inv/media/8/2/3/3/5313328/print/image1xxl.jpg' alt='1' /></li>
                                                <li data-target='#carousel-custom' data-slide-to='1'><img src='http://images.asos-media.com/inv/media/8/2/3/3/5313328/image2xxl.jpg' alt='2' /></li>
                                                <li data-target='#carousel-custom' data-slide-to='2'><img class="third-slider-img" src='http://images.asos-media.com/inv/media/8/2/3/3/5313328/image3xxl.jpg' alt='3' /></li>
                                                <li data-target='#carousel-custom' data-slide-to='3'><img class="fourth-slider-img" src='http://images.asos-media.com/inv/media/3/6/7/0/4850763/multi/image1xxl.jpg' alt='4' /></li>
                                            </ol>
                                            <!-- me art lab slider -->
                                            <div class='carousel-inner '>
                                                <div class='item active'>
                                                    <img src='http://images.asos-media.com/inv/media/8/2/3/3/5313328/print/image1xxl.jpg' alt='' id="zoom_05" data-zoom-image="http://images.asos-media.com/inv/media/8/2/3/3/5313328/print/image1xxl.jpg" />
                                                </div>
                                                <div class='item' id="zoom_05">
                                                    <img src='http://images.asos-media.com/inv/media/8/2/3/3/5313328/image2xxl.jpg' alt='' data-zoom-image="http://images.asos-media.com/inv/media/8/2/3/3/5313328/image2xxl.jpg" />
                                                </div>
                                                <div class='item'>
                                                    <img src='http://images.asos-media.com/inv/media/8/2/3/3/5313328/image3xxl.jpg' alt='' data-zoom-image="http://images.asos-media.com/inv/media/8/2/3/3/5313328/image3xxl.jpg" />
                                                </div>

                                                <div class='item'>
                                                    <img src='http://images.asos-media.com/inv/media/3/6/7/0/4850763/multi/image1xxl.jpg' alt='' data-zoom-image="http://images.asos-media.com/inv/media/3/6/7/0/4850763/multi/image1xxl.jpg" id="zoom_05" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 details-modal-part">
                                        <div class="col-md-12 text-details-part">
                                            <div class="title-unit-part">
                                                <p class="company-maker">Стара колекція жіноччих комплектів</p>
                                                <p class="item-type">Труси</p>
                                            </div>
                                            <div class="price-unit-part">
                                                <span class="price-now">43.50 грн</span>
                                                <span class="price-was">79.90 грн</span>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                        <div class="colors"></div>
                                        <div class="choose-size">
                                            <h4 id="size-toggle">Выбрать размер</h4>
                                            <div class="append-radio">
                                                <ul class="radio-list">
                                                    <li>
                                                        <input type="radio" id="xs-option2" name="selector">
                                                        <label for="xs-option2">Xs</label>

                                                        <div class="check"></div>
                                                    </li>

                                                    <li>
                                                        <input type="radio" id="s-option2" name="selector">
                                                        <label for="s-option2">S</label>

                                                        <div class="check"><div class="inside"></div></div>
                                                    </li>

                                                    <li>
                                                        <input type="radio" id="m-option2" name="selector">
                                                        <label for="m-option2">M</label>

                                                        <div class="check"><div class="inside"></div></div>
                                                    </li>

                                                    <li>
                                                        <input type="radio" id="l-option2" name="selector">
                                                        <label for="l-option2">L</label>

                                                        <div class="check"><div class="inside"></div></div>
                                                    </li>

                                                    <li>
                                                        <input type="radio" id="xl-option2" name="selector">
                                                        <label for="xl-option2">Xl</label>

                                                        <div class="check"><div class="inside"></div></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <button class="frequent-button">Добавить в корзину</button>
                                        <a href="/Home/ItemPage"><button class="frequent-button">Смотреть товар</button></a>
                                    </div>
                                </div>
                                <div class="modal-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="subscribe">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-6 input-block">
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="footer-input" placeholder="E-MAIL...">
                                    <button type="submit" class="footer-btn">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 social-block">
                        <a href="#">
                            <div class="icon-facebook"></div>
                        </a>
                        <a href="#">
                            <div class="icon-instagram"></div>
                        </a>
                        <a href="#">
                            <div class="icon-vkontakte"></div>
                        </a>
                        <a href="#">
                            <div class="icon-youtube"></div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 contacts">
                        <div class="col-md-6 num-block">
                            <span class="material-icons">headset_mic</span>
                            <p class="number">+38 097 777 888 +38 095 555 333</p>
                        </div>
                        <div class="col-md-6 email-block">
                            <span class="material-icons">email</span>
                            <span class="footer-email">NASHEMAIL@GMAIL.COM</span>
                        </div>
                    </div>
                    <div class="col-md-12 last-footer">
                        <span>Интернет-магазин нижнего белья Lorem.ua</span>
                        <span>Copyright © @*@DateTime.Now.Year*@ Lorem.ua. Создано FavorSoft</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
    <!-- jQuery library -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
            integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
            crossorigin="anonymous"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>
