
@{
    ViewBag.Title = "AuthError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="main-404 col-md-6 col-md-offset-3">
            <p>Ви не маєте доступу до даної дії.</p>
            <button onclick="window.history.back();" class="frequent-button" id="go-back">Вернуться назад</button>
        </div>
    </div>
</div>
