<div class="modal fade" id="basket-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="basket-header">Товар добавлен в корзину!</h3>
                            <div type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-5 col-sm-12 col-xs-12 left-basket">
                                <img src="~/Content/images/item-preview.png" />
                                <div class="text-basket-preview">
                                    <h4>Anabel Arto</h4>
                                    <span>Цвет: бежевый</span>
                                    <span>Размер:</span>
                                    <span>S</span>
                                </div>
                                <button class="frequent-button submit-log">Продолжить покупки</button>
                            </div>
                            <div class="col-md-5 col-sm-12 col-xs-12 right-basket">
                                <div class="text-basket-preview-right">
                                    <h4>Ваша Корзина(1)</h4>
                                    <a href="#">Просмотреть выбраные товары</a>
                                    <div class="overall-cost">
                                        <span>Общая стоимость товаров: </span>
                                        <span class="basket-preview-prices">234.85 грн</span>
                                    </div>
                                    <div class="delivery-cost">
                                        <span>Доставка: </span>
                                        <span class="basket-preview-prices">30.00 грн</span>
                                    </div>
                                    <div class="main-prices">
                                        <h4 class="basket-sum">Сумма: </h4>
                                        <span class="basket-preview-prices">264.85 грн</span>
                                    </div>
                                </div>
                                <button class="frequent-button facebook-reg">Оформить заказ</button>
                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

