
<div class="modal fade" id="basket-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="basket-header">Товар добавлен в корзину!</h3>
                            <div type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
                        </div>
                        <div id="basket-body" class="modal-body">
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

