@model DTO.Article

<div class="col-md-5 col-sm-12 col-xs-12 left-basket">
    <img src="~/Content/images/item-preview.png" />
    <div class="text-basket-preview">
        <h4>@Model.unit.Title</h4>
        @if (Model.unitsInfo.Count() == 1)
        {
            @foreach (var i in Model.unitsInfo)
            {
                <span>Размер: @Model.sizes.Where(x => x.Id == i.SizeId).Select(x => x.Size)</span>
            }
        }
        else {
            <span>Размеры: @Model.sizes.Where(x => x.Id == Model.unitsInfo.FirstOrDefault().SizeId).Select(x => x.Size)</span>
        }
    </div>
    <button class="frequent-button submit-log">Продолжить покупки</button>
</div>
<div class="col-md-5 col-sm-12 col-xs-12 right-basket">
    <div class="text-basket-preview-right">
        <h4>Ваша Корзина</h4>
        <a href="#">Просмотреть выбраные товары</a>
        <div class="overall-cost">
            <span>Общая стоимость товаров: </span>
            <span class="basket-preview-prices">234.85 грн</span>
        </div>
        <div class="delivery-cost">
            <span>Доставка: </span>
            <span class="basket-preview-prices">30.00 грн</span>
        </div>
        <div class="main-prices">
            <h4 class="basket-sum">Сумма: </h4>
            <span class="basket-preview-prices">264.85 грн</span>
        </div>
    </div>
    <button class="frequent-button facebook-reg">Оформить заказ</button>
</div>