<div class="modal fade" id="item-preview-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
                        </div>
                        <div class="modal-body">
                            <div id='carousel-custom' class='col-md-8 carousel slide' data-ride='carousel'>
                                <div class='carousel-outer'>
                                    <div id="carousel-on-modal" class='carousel-inner '>
                                        <div class='item active'>
                                            <img src='http://images.asos-media.com/inv/media/8/2/3/3/5313328/print/image1xxl.jpg' alt='' id="zoom_05" data-zoom-image="http://images.asos-media.com/inv/media/8/2/3/3/5313328/print/image1xxl.jpg" />
                                        </div>
                                        <div class='item' id="zoom_05">
                                            <img src='http://images.asos-media.com/inv/media/8/2/3/3/5313328/image2xxl.jpg' alt='' data-zoom-image="http://images.asos-media.com/inv/media/8/2/3/3/5313328/image2xxl.jpg" />
                                        </div>
                                        <div class='item'>
                                            <img src='http://images.asos-media.com/inv/media/8/2/3/3/5313328/image3xxl.jpg' alt='' data-zoom-image="http://images.asos-media.com/inv/media/8/2/3/3/5313328/image3xxl.jpg" />
                                        </div>

                                        <div class='item'>
                                            <img src='http://images.asos-media.com/inv/media/3/6/7/0/4850763/multi/image1xxl.jpg' alt='' data-zoom-image="http://images.asos-media.com/inv/media/3/6/7/0/4850763/multi/image1xxl.jpg" id="zoom_05" />
                                        </div>
                                    </div>
                                    <ol id="calousel-indicators-on-modal" class='carousel-indicators mCustomScrollbar meartlab'>
                                        <li data-target='#carousel-custom' data-slide-to='0' class='active'><img src='http://images.asos-media.com/inv/media/8/2/3/3/5313328/print/image1xxl.jpg' alt='1' /></li>
                                        <li data-target='#carousel-custom' data-slide-to='1'><img src='http://images.asos-media.com/inv/media/8/2/3/3/5313328/image2xxl.jpg' alt='2' /></li>
                                        <li data-target='#carousel-custom' data-slide-to='2'><img class="third-slider-img" src='http://images.asos-media.com/inv/media/8/2/3/3/5313328/image3xxl.jpg' alt='3' /></li>
                                        <li data-target='#carousel-custom' data-slide-to='3'><img class="fourth-slider-img" src='http://images.asos-media.com/inv/media/3/6/7/0/4850763/multi/image1xxl.jpg' alt='4' /></li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-md-4 details-modal-part">
                                <div class="col-md-12 text-details-part">
                                    <div class="title-unit-part">
                                        <p id="title-on-modal" class="company-maker"></p>
                                        <p id="item-type-on-modal" class="item-type"></p>
                                    </div>
                                    <div class="price-unit-part">
                                        <span id="price-now-on-modal" class="price-now"></span>
                                        <span class="price-was"></span>
                                    </div>
                                    <div class="line"></div>
                                </div>
                                <div class="colors"></div>
                                <div class="choose-size">
                                    <h4 id="size-toggle">Размеры</h4>
                                    <div class="append-radio">
                                        <ul id="modal-radio" class="radio-list">
                                        </ul>
                                    </div>
                                </div>

                                <button class="frequent-button">Добавить в корзину</button>
                                <a href="/Home/ItemPage"><button class="frequent-button">Смотреть товар</button></a>
                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

