<div class="modal fade" id="item-preview-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
                        </div>
                        <div class="modal-body">
                            <div class="carousel-custom col-md-8">
                                <div class="item-slider-for">
                                    <img src="~/Content/images/he.jpg" />
                                    <img src="~/Content/images/her.jpg" />
                                    <img src="~/Content/images/item-preview.png" />
                                    <img src="~/Content/images/small-womant.jpg" />
                                </div>
                                <div class="item-slider-nav">
                                    <img src="~/Content/images/he.jpg" />
                                    <img src="~/Content/images/her.jpg" />
                                    <img src="~/Content/images/item-preview.png" />
                                    <img src="~/Content/images/small-womant.jpg" />
                                </div>
                            </div>
                            <div class="col-md-4 details-modal-part">
                                <div class="col-md-12 text-details-part">
                                    <div class="title-unit-part">
                                        <p id="title-on-modal" class="company-maker"></p>
                                        <p id="item-type-on-modal" class="item-type"></p>
                                    </div>
                                    <div class="price-unit-part">
                                        <span id="price-now-on-modal" class="price-now"></span>
                                        <span class="price-was"></span>
                                    </div>
                                    <div class="line"></div>
                                </div>
                                <div class="colors"></div>
                                <div class="choose-size">
                                    <h4 id="size-toggle">Размеры</h4>
                                    <div class="append-radio">
                                        <ul id="modal-radio" class="radio-list">
                                        </ul>
                                    </div>
                                </div>

                                <button class="frequent-button">Добавить в корзину</button>
                                <a href="/Home/ItemPage"><button class="frequent-button">Смотреть товар</button></a>
                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

