@model taras_shop.Models.UserData
<h4 class="ordering-subheader">Личные данные</h4>

<div class="form-group">
    <label for="ordering-name">Имя:</label>
    <input id="ordering-name" class="ordering-input" value="@Model.Name" />
</div>
<div class="form-group">
    <label for="ordering-surname">Фамилия:</label>
    <input id="ordering-surname" class="ordering-input" value="@Model.SurnName" />
</div>
<div class="form-group">
    <label for="ordering-email">E-Mail:</label>
    <input id="ordering-email" class="ordering-input" />
</div>
<div class="form-group">
    <label for="ordering-phone">Телефон:</label>
    <input id="ordering-phone" class="ordering-input" />
</div>

<h4 class="ordering-subheader">Адрес доставки</h4>

<div class="form-group">
    <label for="ordering-country">Страна:</label>
    <input id="ordering-country" class="ordering-input" />
</div>
<div class="form-group">
    <label for="ordering-region">Область:</label>
    <input id="ordering-region" class="ordering-input" />
</div>
<div class="form-group">
    <label for="ordering-city">Город:</label>
    <input id="ordering-city" class="ordering-input" />
</div>
<div class="form-group">
    <label for="ordering-delivery">Отделение Новой Почты:</label>
    <input id="ordering-delievery" class="ordering-input" />
</div>
