@model taras_shop.Models.OrderingModels
@{
    ViewBag.Title = "Ordering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container">
    <div class="row ordering">
        <h5 class="routing-h"><a href="@Url.Action("Index", "Home")">Главная страница</a> > <a>оформление заказа</a></h5>
        <h2 class="admin-header">Оформление заказа</h2>
        @using (@Html.BeginForm("ToOrder", "Home"))
        {

            if (!User.Equals(null) && User.Identity.IsAuthenticated)
            {
                Html.RenderPartial("OrderDataAuth", Model.UserData);
            }
            else
            {
                Html.RenderPartial("OrderDataWithoutAuth", Model.UserData);
            }

            <h2 class="admin-header">Ваша Корзина</h2>
            if (!User.Identity.IsAuthenticated)
            {
                <div id="shopping-local-items"></div>
            }
            else
            {
                <div id="shopping-global-items"></div>
            }
            <div class="col-md-4 col-md-offset-4">
                <button type="submit" class="frequent-button buy-button">Оформить заказ</button>
            </div>
        }
    </div>
</section>
