@model IEnumerable<DTO.Helpers.BasketUnit>
@{
    ViewBag.Title = "Ordering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container">
    <div class="row ordering">
        <h5 class="routing-h"><a>Главная страница</a> > <a>оформление заказа</a></h5>
        <h2 class="admin-header">Оформление заказа</h2>
        <form>

            <h4 class="ordering-subheader">Личные данные</h4>

            <div class="form-group">
                <label for="ordering-name">Имя:</label>
                <input id="ordering-name" class="ordering-input" />
            </div>
            <div class="form-group">
                <label for="ordering-surname">Фамилия:</label>
                <input id="ordering-surname" class="ordering-input" />
            </div>
            <div class="form-group">
                <label for="ordering-email">E-Mail:</label>
                <input id="ordering-email" class="ordering-input" />
            </div>
            <div class="form-group">
                <label for="ordering-phone">Телефон:</label>
                <input id="ordering-phone" class="ordering-input" />
            </div>

            <h4 class="ordering-subheader">Адрес доставки</h4>

            <div class="form-group">
                <label for="ordering-region">Область:</label>
                <input id="ordering-region" class="ordering-input" />
            </div>
            <div class="form-group">
                <label for="ordering-city">Город:</label>
                <input id="ordering-city" class="ordering-input" />
            </div>
            <div class="form-group">
                <label for="ordering-delivery">Отделение Новой Почты:</label>
                <input id="ordering-delievery" class="ordering-input" />
            </div>

            <h2 class="admin-header">Ваша Корзина</h2>

            <div class="table-responsive">
                <table class="table cart-table">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Подробности</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Сумма</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td class="image-td">
                                    <a class="material-icons">clear</a>
                                    <img src="~/Content/images/Units/womant.jpg" />
                                </td>
                                <td>
                                    <div class="text-basket-preview">
                                        <h4>Anabel Arto</h4>
                                        <span>Цвет: бежевый</span>
                                        <a>Изменить</a>
                                        <span>Размер:</span>
                                        <span>S</span>
                                        <a>Изменить</a>
                                    </div>
                                </td>
                                <td>
                                    <input type="number" class="form-control cart-number-input" min="1" value="1" />
                                </td>
                                <td>
                                    <p class="cart-price-p">223.00 грн</p>
                                </td>
                                <td>
                                    <p class="cart-sum-p">223.00 грн</p>
                                </td>
                            </tr>

                        }
                        @*<tr>
                            <td class="image-td">
                                <a class="material-icons">clear</a>
                                <img src="~/Content/images/woman.png" />
                            </td>
                            <td>
                                <div class="text-basket-preview">
                                    <h4>Anabel Arto</h4>
                                    <span>Цвет: бежевый</span>
                                    <a>Изменить</a>
                                    <span>Размер:</span>
                                    <span>S</span>
                                    <a>Изменить</a>
                                </div>
                            </td>
                            <td>
                                <input type="number" class="form-control cart-number-input" min="1" value="1" />
                            </td>
                            <td>
                                <p class="cart-price-p">223.00 грн</p>
                            </td>
                            <td>
                                <p class="cart-sum-p">223.00 грн</p>
                            </td>
                        </tr>*@
                    </tbody>
                </table>
            </div>
            <div class="text-basket-preview-right">
                <div class="col-md-4 col-md-offset-4 cart-sum-block">
                    <div class="overall-cost">
                        <span>Общая стоимость товаров: </span>
                        <span class="basket-preview-prices">234.85 грн</span>
                    </div>
                    <div class="delivery-cost">
                        <span>Доставка: </span>
                        <span class="basket-preview-prices">30.00 грн</span>
                    </div>
                    <div class="main-prices">
                        <h4 class="basket-sum">Сумма: </h4>
                        <span class="basket-preview-prices">264.85 грн</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <button class="frequent-button buy-button">Оформить заказ</button>
            </div>
        </form>
    </div>
</section>
