@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="main-404 col-md-6 col-md-offset-3">
            <h1>404</h1>
            <p>Упс, страница, которую вы ищите, не найдена</p>
            <button onclick="window.history.back();" class="frequent-button" id="go-back">Вернуться назад</button>
        </div>
    </div>
</div>
