@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2 class="cart-table-header">Ваша Корзина</h2>
        <table class="table cart-table">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Подробности</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="~/Content/images/woman.png"/>
                    </td>
                    <td>
                        <div class="text-basket-preview">
                            <h4>Anabel Arto</h4>
                            <span>Цвет: бежевый</span>
                            <span>Размер:</span>
                            <span>S</span>
                        </div>
                    </td>
                    <td>
                        <div id="cart-dropdown" class="dropdown">
                            <button class="btn dropdown-toggle"
                                    type="button" data-toggle="dropdown">
                                1
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <p class="cart-price-p">223.00 грн</p>
                    </td>
                    <td>
                        <p class="cart-sum-p">223.00 грн</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/images/woman.png" />
                    </td>
                    <td>
                        <div class="text-basket-preview">
                            <h4>Anabel Arto</h4>
                            <span>Цвет: бежевый</span>
                            <span>Размер:</span>
                            <span>S</span>
                        </div>
                    </td>
                    <td>
                        <div id="cart-dropdown" class="dropdown">
                            <button class="btn dropdown-toggle"
                                    type="button" data-toggle="dropdown">
                                1
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <p class="cart-price-p">223.00 грн</p>
                    </td>
                    <td>
                        <p class="cart-sum-p">223.00 грн</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>